node_modules
dist
logs
Dockerfile
package-lock.json
docker-compose*
eslint.config.mjs
.eslintrc.js
.prettierrc
.git
.gitignore
.idea
nodemon.json
jest.config.js
jest.setup.js
.env
.env.example
todo.txt